# ============================================
# PYTHON
# ============================================

__pycache__/
*.pyc
*.pyo

# ============================================
# CACHE / AUDIO
# ============================================

backend/data/cache/
backend/data/logs/

# ============================================
# ENV
# ============================================

.env

# ============================================
# VSCODE
# ============================================

.vscode/

# ============================================
# FRONTEND
# ============================================

node_modules/
dist/
build/

# ============================================
# OS
# ============================================

.DS_Store
Thumbs.db